.options-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
  margin: 50px;
}

.select-container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  min-Width: 200px;
}

.select-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.select-container h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

.select-container select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.select-container p {
  margin-top: 10px;
  font-size: 14px;
}

/* Tablet view */
@media (min-width: 768px) and (max-width: 1023px) {
  .options-container {
    padding: 40px;
    flex-direction: column;
  }

  .select-container {
    margin: 20px 0;
  }
}

.animated-grid-item {
  opacity: 0;
  transform: translateY(20px);
}


/* Mobile view */
@media (min-width: 200px) and (max-width: 768px) {
  .options-container {
    padding: 40px;
    flex-direction: column;
  }

  .select-container {
    margin: 20px 0;
  }
}
